{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}

<!--TODO: Add Rules Table -> in Views ergänzen -< context data -> context variable -->
<!--TODO: get_absolute_url; placeholder; protocol/action -> funktion schritt 6 -->

{% block content %}
  <div class="row mb-3">

    <div class="col col-md-6">

      <div class="card">
        <h5 class="card-header">Processor</h5>
        <div class="card-body">

          <table class="table table-hover attr-table">

            <tr>
              <th scope="row">Name</th>
              <td>{{ object.name }}</td>
            </tr>

            <tr>
              <th scope="row">Device</th>
              <td>{{ object.device }}</td>
            </tr>

            <tr>
              <th scope="row">Module</th>
              <td>{{ object.module }}</td>
            </tr>

<!--todo zähler mit link-->
            <tr>
              <th scope="row">Number of Endpoints</th>
              <td>{{ Platzhalter }}</td>
            </tr>

          </table>

        </div>
      </div>

    </div>

    <div class="col col-md-6">
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
      {% include 'inc/panels/custom_fields.html' %}

    </div>
  </div>

<div class="card">
        <h5 class="card-header">Endpoints</h5>
        <div class="card-body">
        <div class="card-body table-responsive">
          {% render_table endpoints_table %}
        </div>
        </div>
      </div>

{% endblock content %}
