
{% extends 'generic/object.html' %}

<!--TODO: Add Rules Table -> in Views ergänzen -< context data -> context variable -->
<!--TODO: get_absolute_url; placeholder; protocol/action -> funktion schritt 6 -->

{% block content %}
  <div class="row mb-3">

    <div class="col col-md-6">

      <div class="card">
        <h5 class="card-header">Stream</h5>
        <div class="card-body">

          <table class="table table-hover attr-table">

<!--            todo label buttons-->
<!--            todo verlinkung-->

            <tr>
              <th scope="row">Name</th>
              <td>{{ object.name }}</td>
            </tr>

            <tr>
              <th scope="row">Sender</th>
              <td>{{ object.sender|linkify }}</td>
            </tr>

            <tr>
              <th scope="row">Receivers</th>
              <td>{{ object.receivers|linkify }}</td>
            </tr>

            <tr>
              <th scope="row">Bandwidth</th>
              <td>{{ object.bandwidth|placeholder }}</td>
            </tr>

            <tr>
              <th scope="row">Signal Type</th>
              <td>{{ object.signal_type|placeholder }}</td>
            </tr>

            <tr>
              <th scope="row">Protocol</th>
              <td>{{ object.protocol|placeholder }}</td>
            </tr>

            <tr>
              <th scope="row">Formats</th>
              <td>{{ object.formats|placeholder }}</td>
            </tr>

          </table>

        </div>
      </div>
      </div>

    <div class="col col-md-6">

          {% include 'inc/panels/tags.html' %}
          {% include 'inc/panels/comments.html' %}
          {% include 'inc/panels/custom_fields.html' %}
  </div>
{% endblock content %}
